# Настройки ВКонтакте
VK_TOKEN=your_vk_group_token_here
GROUP_ID=your_vk_group_id_here

# Настройки подключения к локальной БД PostgreSQL
HOST=localhost
PORT=5432
USER=postgres
PASSWORD=postgres
DBNAME=layndaru_db

# Полный URL для asyncpg
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/layndaru_db
