<IfModule mod_rewrite.c>
    RewriteEngine On

    # Защита от бесконечного цикла редиректов
    RewriteCond %{ENV:REDIRECT_STATUS} 200
    RewriteRule ^ - [L]

    # Перенаправление всех запросов в папку public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
